<header class="uk-background-primary">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a href="/home/home">Conectar Destinos</a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li><a href="/home/home">Home</a></li>
                        <li><a href="/home/agregarPost">Postear</a></li>
                        <li><a href="/perfil/registracion">Registración</a></li>
                        <li><a href="/perfil/login">Login</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li>
                            <form action="/home/resultadousuario" class="uk-search uk-search-default" method="GET">
                                <span uk-search-icon></span>
                                <input type="search" name="buscador" class="uk-search-input" placeholder="Buscar...">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</header>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Courier+Prime&family=David+Libre&display=swap');
</style>